@media (min-width: 768px) {
    .container-small {
        width: 300px;
    }
    .container-large {
        width: 970px;
    }
}
@media (min-width: 992px) {
    .container-small {
        width: 300px;
    }
    .container-large {
        width: 1170px;
    }
}
@media (min-width: 1200px) {
    .container-small {
        width: 300px;
    }
    .container-large {
        width: 1500px;
    }
}

.container-small, .container-large {
    max-width: 100%;
}


.burger-menu {
    background-color: #003868;
    padding: 20px;
    color: white !important;
}


.dropdown-header {
    color: white;
    font-size: 13px;
}

.moving-boxes  {
    color: white !important;
}

.dimmer-blue {
    background-color: rgba(0, 78, 114, 0.80);
}

.burger-menu-link {
    color: white;
}

.footer-dimmer {
    background-color: rgba(0, 43, 112, 0.5) !important;
}

.table-orange {
    background-color: #ffdabf !important;
}

.table-purple {
    background-color: #e7e7ff !important;
}

.spec-list {
    font-size: 25px !important;
    font-weight: bolder !important;
}
