@media (min-width: 768px) {
    .container-small {
        width: 300px;
    }
    .container-large {
        width: 970px;
    }
}
@media (min-width: 992px) {
    .container-small {
        width: 300px;
    }
    .container-large {
        width: 1170px;
    }
}
@media (min-width: 1200px) {
    .container-small {
        width: 300px;
    }
    .container-large {
        width: 1500px;
    }
}

.container-small, .container-large {
    max-width: 100%;
}


.burger-menu {
    background-color: #002b70;
    padding: 20px;
}

.burger-menu > em, li, li a {
    color: white !important;
}

.dropdown-header {
    color: white;
    font-size: 13px;
}
