body * {
    font-family: 'Quicksand', sans-serif;
}
header {
    font-family: 'Quicksand', sans-serif !important;
}

.ui.items>.item>.content>.header {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: rgba(0, 0, 0, .85);
}

p {
    font-size: 16px;
}

.ui.statistic>.value, .ui.statistics .statistic>.value {
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.ui.menu .item img.logo {
    margin-right: 1.5em;
}

.main.container {
    margin-top: 7em;
}
.wireframe {
    margin-top: 2em;
}
.ui.footer.segment {
    margin: 1.5em 0em 0em;
    padding: 1.5em 0em;
}
.ui.menu .item>img:not(.ui) {
    width: 15em;
}

.ui.sidebar {
  background: #fff !important;
}

.ui.sidebar .item {
  color: #44318d !important;
  font-size: 1.2em !important;
}

.ui.sidebar .item:hover:not(.header):not(.close):not(.space) {
  background: rgba(0, 0, 0, 0.07) !important;
}

.ui.sidebar .close.item {
  padding-bottom: 3em;
}

.ui.sidebar .item.header {
  padding-left: .9em !important;
  font-size: 1.5em !important;
}

.ui.sidebar .item:before {
  background: none !important;
}

.hero {
  width: 100%;
  padding: 22em 12em 12em 12em;
  text-align: left;
  background:
    url("../images/homepage-hero-high.png")
    0 no-repeat;
  background-size: 120%;
}

.hero .boxes {
  min-height: 150px;
}

.hero .boxes .card {
  min-width: 100%;
  min-height: 120px;
  box-shadow: none;
}

.hero .boxes .card:hover {
  box-shadow: none;
}

.hero .boxes {
  margin-bottom: -10em;
}

@media only screen and (max-width: 1000px) {
  .hero {
    padding: 8em 2em;
    background:
      linear-gradient(
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.7)
      ),
      url("../images/homepage-hero-high.png")
      5% 0 no-repeat;
  }

  .hero .hero-text {
    font-size: 2em;
  }
}



.content-hover-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 140px;
  background: #44318d !important;
  border-radius: 4px;
  padding: 1em;
  color: #fff;
  font-size: 1.25em;
  line-height: 1.25em;
}

.content-hover-box:hover .top {
  display: none;
}

.content-hover-box .bottom {
  display: none;
}

.content-hover-box:hover .bottom {
  display: block;
}



#hero__people {
    background: url("../images/people_page-smaller.jpg") center no-repeat;
}

.hero-text {
    color: #00887A;
    font-size: 3em;
  margin-bottom: 4em;
}

#people-title {
    top: 30%;
    right: 30%;
    font-size: 3em !important;
    padding-top: 40px !important;
}

.ui.move.reveal .hidden.content{
    -webkit-transform: translateX(-100%)!important;
    -ms-transform: translateX(-100%)!important;
    transform: translateX(-100%)!important;
}
.ui.move.reveal:hover .hidden.content{
    -webkit-transform: translateX(1%)!important;
    -ms-transform: translateX(1%)!important;
    transform: translateX(1%)!important;
}
.ui.move.reveal>.content {
    display: block!important;
}
.green-box {
    background-color: #44318D !important;
    min-height: 100px !important;
}

@media only screen and (min-width: 768px) and (max-width: 992px)  {
    .green-box {
        min-height: 250px !important;
    }
}

.white {
    color: #fff !important;
}

.stripe {
    background-color: #00887A  !important;
    color: #fff;
}
.stripe.padding {
    margin-top: 50px;
    padding-top: 25px;
}
.infographic-stat {
    min-width: 150px;
}
.light-blue {
    color: #77a6f7
}

.homepage.main.container .grid .column .card {
    display: inline-block !important;
}

.top.container {
    margin-top: -4em;
}

.top.container .card {
  min-width: 100%;
  min-height: 120px;
}

.le-purp {
    color: #44318D !important;
}

.info-banner {
    /*margin: 2em;*/
    /*padding: 1em;*/
    margin-top: 5em;
    margin-bottom: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #00887A  !important;
    color: #fff;
    text-align: center;
}

#hero-banner {
  margin-top: 0;
}

.info-banner .circle {
    display: inline-block;
}

.info-banner .circle div {
    padding-left: 2em;
}

.info-banner .circle:before {
    content: '';
    background-color: #00887A  !important;
    color: #fff;
    border-radius: 500%;
    width: 120px;
    height: 120px;
    position: absolute;
    top: -28px;
    z-index: -1;
    -webkit-box-shadow: 7px 7px 5px 3px rgba(204,204,204,1);
    -moz-box-shadow: 7px 7px 5px 3px rgba(204,204,204,1);
    box-shadow: 7px 7px 5px 3px rgba(204,204,204,1);
}

.info-banner .content {
    display: inline-block;
    margin-left: 3em;
}

a .heading  {
  color: #fff !important;
}


.dark__green {
    background-color: #00887A  !important;
}

.light__blue {
    background-color: #77a6f7 !important;
}


.homepage__large__text {
    font-size: 2.5em;
    font-weight: lighter;
}
