body * {
    font-family: 'Quicksand', sans-serif;
}
header {
    font-family: 'Quicksand', sans-serif !important;
}

.ui.items>.item>.content>.header {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: rgba(0, 0, 0, .85);
}

.ui.statistic>.value, .ui.statistics .statistic>.value {
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.ui.menu .item img.logo {
    margin-right: 1.5em;
}

#desktop-menu {
  display: none;
}

@media only screen and (min-width: 1000px) {
  #desktop-menu {
    display: block;
  }

  #mobile-menu {
    display: none;
  }
}

.main.container {
    margin-top: 7em;
}
.wireframe {
    margin-top: 2em;
}
.ui.footer.segment {
    margin: 1.5em 0em 0em;
    padding: 1.5em 0em;
}
.ui.menu .item>img:not(.ui) {
    width: 15em;
}

.hero {
  width: 100%;
  padding: 12em 8em;
  text-align: right;
  background:
    url("../images/hero.jpg")
    60% 0 no-repeat;
}

@media only screen and (max-width: 1000px) {
  .hero {
    padding: 8em 2em;
    background:
      linear-gradient(
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.7)
      ),
      url("../images/hero.jpg")
      5% 0 no-repeat;
  }

  .hero .hero-text {
    font-size: 2em;
  }
}

#hero__people {
    background: url("../images/people_page-smaller.jpg") center no-repeat;
}

.hero-text {
    /*position: absolute;*/
    /*top: 25%;*/
    /*right: 7%;*/
    -ms-transform: translateY(0);
    transform: translateY(0);
    z-index: 1;
    color: #44318d;
    font-size: 3em;
}

#people-title {
    top: 30%;
    right: 30%;
    font-size: 3em !important;
}

.ui.move.reveal .hidden.content{
    -webkit-transform: translateX(-100%)!important;
    -ms-transform: translateX(-100%)!important;
    transform: translateX(-100%)!important;
}
.ui.move.reveal:hover .hidden.content{
    -webkit-transform: translateX(1%)!important;
    -ms-transform: translateX(1%)!important;
    transform: translateX(1%)!important;
}
.ui.move.reveal>.content {
    display: block!important;
}
.green-box {
    background-color: #77a6f7 !important;
}

@media only screen and (min-width: 768px) and (max-width: 992px)  {
    .green-box {
        min-height: 250px !important;
    }
}

.white {
    color: #fff !important;
}

.stripe {
    background-color: #00887A  !important;
    color: #fff;
}
.stripe.padding {
    margin-top: 50px;
    padding-top: 25px;
}
.infographic-stat {
    min-width: 150px;
}
.light-blue {
    color: #77a6f7
}

.homepage.main.container .grid .column .card {
    display: inline-block !important;
}

.top.container {
    margin-top: -4em;
}

.top.container .card {
  min-width: 100%;
  min-height: 120px;
}

.le-purp {
    color: #44318D !important;
}

.info-banner {
    /*margin: 2em;*/
    /*padding: 1em;*/
    margin-top: 2em;
    margin-bottom: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #00887A  !important;
    color: #fff;
}

.info-banner .circle {
    display: inline-block;
}

.info-banner .circle div {
    padding-left: 2em;
}

.info-banner .circle:before {
    content: '';
    background-color: #00887A  !important;
    color: #fff;
    border-radius: 500%;
    width: 120px;
    height: 120px;
    position: absolute;
    top: -28px;
    z-index: -1;
    -webkit-box-shadow: 7px 7px 5px 3px rgba(204,204,204,1);
    -moz-box-shadow: 7px 7px 5px 3px rgba(204,204,204,1);
    box-shadow: 7px 7px 5px 3px rgba(204,204,204,1);
}

.info-banner .content {
    display: inline-block;
    margin-left: 3em;
}

a .heading  {
  color: #fff !important;
}


.dark__green {
    background-color: #00887A  !important;
}


.homepage__large__text {
    font-size: 2.5em;
    font-weight: lighter;
}
