body * {
    font-family: 'Quicksand', sans-serif;
}
header {
    font-family: 'Quicksand', sans-serif !important;
}

.ui.items>.item>.content>.header {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: rgba(0, 0, 0, .85);
}

p {
    font-size: 16px;
}

.ui.statistic>.value, .ui.statistics .statistic>.value {
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    text-align: center;
}
.ui.menu .item {
    padding: .4857143em 1.14285714em !important;
}
.ui.menu .item img.logo {
    margin-right: 1.5em;
}

.main.container {
    margin-top: 7em;
}
.wireframe {
    margin-top: 2em;
}
.ui.footer.segment {
    margin: 8em 0em 0em;
    padding: 1.5em 0em;
}
.ui.menu .item>img:not(.ui) {
    width: 15em;
}

.ui.sidebar {
  background: #fff !important;
}

.ui.sidebar .item {
  color: #44318d !important;
  font-size: 1.2em !important;
}

.ui.sidebar .item:hover:not(.header):not(.close):not(.space) {
  background: rgba(0, 0, 0, 0.07) !important;
}

.ui.sidebar .close.item {
  padding-bottom: 3em;
}

.ui.sidebar .item.header {
  padding-left: .9em !important;
  font-size: 1.5em !important;
}

.ui.sidebar .item:before {
  background: none !important;
}

.mini-container {
  padding: 0 8em;
}

.hero {
  padding: 15em 0 2.5em 0;

  background:
    url("../images/hero-image.png")
    75% 100%
    no-repeat;
  background-size: 150%;
}

.hero .dividing.row {
  height: 13em;
}


.hero .hero-text {
    font-size: 3em;
    font-weight: 400;
}

.hero .grid .content-hover-box {
  min-height: 120px;
}

#banner-under-hero {
  margin-top: 0;
}

.hamburger-menu {
  padding-right: 4.5em !important;
}

@media only screen and (min-width: 993px) and (max-width: 1500px) {
  .hero {
    padding: 8em 2em;
    background:
      linear-gradient(
        rgba(255, 255, 255, 0.15),
        rgba(255, 255, 255, 0.15)
      ),
      url("../images/hero-image.png")
      85% 10%
      no-repeat;

    background-size: 180%;
  }

  .hero .hero-text {
    font-size: 2em;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  #specialties .card {
    font-size: .5em !important;
  }

  .mini-container {
    padding: 0 4em;
  }

  .hamburger-menu {
    padding-right: 0;
  }
}
@media only screen and (max-width:599px){
  .hidesmall {display:none!important;}
    .only_mobile { margin: 5em auto 2em auto; }
  }
@media only screen and (min-width:600px){
  .only_mobile {display:none!important; }
    
  }
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .hamburger-menu {
    padding-right: 0;
  }

  .hero {
    padding: 8em 2em;
    background:
      linear-gradient(
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.4)
      ),
      url("../images/hero-image.png")
      75% 0
      no-repeat;

    background-size: 400%;
  }

  .hero .hero-text {
    font-size: 2em;
    font-weight: 900;
    padding-left: 2em;
  }

  #specialties .card {
    font-size: .8em;
  }

  .mini-container {
    padding: 0 2em;
  }

  .content-hover-box {
      min-height: 300px !important;
  }

    .infographic__holder {
        min-height: 550px !important;
        padding-top: 0.5em;
    }

    .infographic__holder .card {
      min-height: 500px;
      height: 500px;
    }

  .infographic__boxes .header {
    min-height: 86px !important;
    height: 86px !important;
    position: relative;
  }

  .infographic__boxes .header h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.content-hover-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  background: #44318d !important;
  border-radius: 4px;
  padding: .6em;
  color: #fff;
  font-size: 1em;
  line-height: 1.25em;
}

.content-hover-box:hover .top {
  display: none;
}

.content-hover-box .bottom {
  display: none;
}

.content-hover-box:hover .bottom {
  display: block;
}

#hero__people {
    background: url("../images/people_page-smaller.jpg") center no-repeat;
}

/*.hero-text {*/
/*    color: #00887A;*/
/*    font-size: 3em;*/
/*    margin-bottom: 4em;*/
/*}*/

#people-title {
    top: 30%;
    right: 30%;
    font-size: 3em !important;
    padding-top: 40px !important;
}

.ui.move.reveal .hidden.content{
    -webkit-transform: translateX(-100%)!important;
    -ms-transform: translateX(-100%)!important;
    transform: translateX(-100%)!important;
}
.ui.move.reveal:hover .hidden.content{
    -webkit-transform: translateX(1%)!important;
    -ms-transform: translateX(1%)!important;
    transform: translateX(1%)!important;
}
.ui.move.reveal>.content {
    display: block!important;
}
.green-box {
    background-color: #44318D !important;
    min-height: 100px !important;
}

@media only screen and (min-width: 768px) and (max-width: 992px)  {
    .green-box {
        min-height: 250px !important;
    }
          .hero {
    padding: 8em 2em;
    background:
      linear-gradient(
        rgba(255, 255, 255, 0.15),
        rgba(255, 255, 255, 0.15)
      ),
      url("../images/hero-image.png")
      75% 0
      no-repeat;
          background-size: 150%;
  }
}

.white {
    color: #fff !important;
}

.stripe {
    background-color: #00887A  !important;
    color: #fff;
}
.stripe.padding {
    margin-top: 50px;
    padding-top: 25px;
}
.infographic-stat {
  min-width: 150px;
}

.infographic__boxes {
  width: calc(100% - 2em);
  margin: 0 auto;
}

.infographic__boxes .card {
  min-width: 100% !important;
}

.infographic__boxes .grid .column {
  padding-right: 2em !important;
  padding-left: 2em !important;
}

.infographic__boxes .grid .column:first-child {
  padding-right: 4em !important;
  padding-left: 0 !important;
}

.infographic__boxes .grid .column:last-child {
  padding-right: 0 !important;
  padding-left: 4em !important;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .infographic__boxes {
    width: calc(100% + 1em);
    margin: 0 0 0 -.5em;
  }

  .infographic__boxes .grid .column {
    padding-right: 1em !important;
    padding-left: 1em !important;
  }

  .infographic__boxes .grid .column:first-child {
    padding-right: 1em !important;
    padding-left: 1em !important;
  }

  .infographic__boxes .grid .column:last-child {
    padding-right: 1em !important;
    padding-left: 1em !important;
  }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .infographic__boxes .grid .column {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .infographic__boxes .grid .column:first-child {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .infographic__boxes .grid .column:last-child {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}

/*.infographic__boxes .grid .column:first-child {*/
/*  margin-left: -4em !important;*/
/*}*/

.light-blue {
    color: #77a6f7
}

.homepage.main.container .grid .column .card {
    display: inline-block !important;
}

.top.container {
    margin-top: -4em;
}

.top.container .card {
  min-width: 100%;
  min-height: 120px;
}

.le-purp {
    color: #44318D !important;
}

.info-banner {
    /*margin: 2em;*/
    /*padding: 1em;*/
    margin-top: 5em;
    margin-bottom: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #00887A  !important;
    color: #fff;
    text-align: center;
}

.info-banner h1 {
    font-weight: normal !important;
}

.header h3 {
    font-weight: normal !important;
}

/*#hero-banner {*/
/*  margin-top: 0;*/
/*}*/

.info-banner .circle {
    display: inline-block;
}

.info-banner .circle div {
    padding-left: 2em;
}

.info-banner .circle:before {
    content: '';
    background-color: #00887A  !important;
    color: #fff;
    border-radius: 500%;
    width: 120px;
    height: 120px;
    position: absolute;
    top: -28px;
    z-index: -1;
    -webkit-box-shadow: 7px 7px 5px 3px rgba(204,204,204,1);
    -moz-box-shadow: 7px 7px 5px 3px rgba(204,204,204,1);
    box-shadow: 7px 7px 5px 3px rgba(204,204,204,1);
}

.info-banner .content {
    display: inline-block;
    margin-left: 3em;
}

a .heading  {
  color: #fff !important;
}


.dark__green {
    background-color: #00887A  !important;
}

.light__blue {
    background-color: #77a6f7 !important;
}


.homepage__large__text {
    font-size: 2.5em;
    font-weight: lighter;
}

.header a {
    font-weight:normal !important;
}

.transparent {
    border: 0 !important;
    box-shadow: none !important;
    background: transparent !important;
}

.menu-background {
    background: #fff !important;
    border-bottom: solid 4px rgba(0,0,0,0.1)!important;    
}

.purple-box {
  background-color: #44318D !important;
  color: #FFF;
}

.purple-box a {
  color: #FFF;
  text-decoration: underline;
}

#hamburger {
  font-size: 1.8em !important;
}

.nav.image {
  height: 50px;
}

.nav.sidebar.sidebar {
  width: 450px;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .nav.sidebar.sidebar {
    width: 75% !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1300px) {
  .infographic__boxes .grid .column {
    width: 50% !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  .infographic__boxes .grid .column:first-child {
    padding-right: .5em !important;
  }

  .infographic__boxes .grid .column:last-child {
    padding-left: .5em !important;
  }
}
